@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-sans: var(--font-inter);
  --font-heading: var(--font-poppins);
  --font-mono: var(--font-roboto-mono);
}

@layer base {
  body {
    @apply text-dark bg-white;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-heading;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Prevent body scroll when modal is open */
body.modal-open {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  overflow-y: scroll;
}
